<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            margin-bottom: 10px;
            outline: none;
        }

        textarea {
            width: 300px;
            border-radius: 5px;
            border: 1px solid #29AEFF;
            padding: 5px 20px;
            display: block;
        }

        button {
            width: 100px;
            -webkit-box-shadow: 0 3px 6px 0 #55ca86;
            box-shadow: 0 3px 6px 0 #55ca86;
            background: transparent;
            border: 1px solid #55ca86;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>

<p>
    6. Создать страницу, на которой можно загрузить несколько фотографий в галерею. Все загруженные фото должны
    помещаться в папку gallery и выводиться на странице в виде таблицы.
</p>


<form enctype="multipart/form-data" action="" method="POST">
    Send this file: <input name="file" type="file"/>
    <input type="submit" value="Send File"/>
</form>

<?php foreach ($list as $item): ?>
    <div style="width: 33%; height: 200px; display: inline-block; background: url('gallery/<?php echo $item ?>'); background-size: cover"></div>
<?php endforeach; ?>

</body>
</html>