<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            margin-bottom: 10px;
            outline: none;
        }

        textarea {
            width: 300px;
            border-radius: 5px;
            border: 1px solid #29AEFF;
            padding: 5px 20px;
            display: block;
        }

        button {
            width: 100px;
            -webkit-box-shadow: 0 3px 6px 0 #55ca86;
            box-shadow: 0 3px 6px 0 #55ca86;
            background: transparent;
            border: 1px solid #55ca86;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>

<p>
    13. Есть строка $string = 'яблоко черешня вишня вишня черешня груша яблоко черешня вишня яблоко вишня вишня черешня
    груша яблоко черешня черешня вишня яблоко вишня вишня черешня вишня черешня груша яблоко черешня черешня вишня
    яблоко вишня вишня черешня черешня груша яблоко черешня вишня';
</p>

<b><?php echo $message ?></b>

<form action="" method="post">
    <textarea name="phrase"><?= requestPost('phrase') ?></textarea>
    <button type="submit">Submit</button>
</form>

<?php if (!is_null($numberOfRepetitions)) : ?>
    <?php foreach ($numberOfRepetitions as $key => $value) : ?>
        <?php echo $key ?> - <?php echo $value ?> <br>
    <?php endforeach; ?>
<?php endif; ?>

</body>
</html>