<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            margin-bottom: 10px;
            outline: none;
        }

        textarea {
            width: 300px;
            border-radius: 5px;
            border: 1px solid #29AEFF;
            padding: 5px 20px;
            display: block;
        }

        button {
            width: 100px;
            -webkit-box-shadow: 0 3px 6px 0 #55ca86;
            box-shadow: 0 3px 6px 0 #55ca86;
            background: transparent;
            border: 1px solid #55ca86;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>

<p>
    12. Написать функцию, которая в качестве аргумента принимает строку, и форматирует ее таким образом, что предложения
    идут в обратном порядке.
</p>

<b><?php echo $message ?></b>

<form action="" method="post">
    <textarea name="phrase"><?= requestPost('phrase') ?></textarea>
    <button type="submit">Submit</button>
</form>

<?php echo $reverseText ?>.

</body>
</html>