<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            margin-bottom: 10px;
            outline: none;
        }

        textarea {
            width: 300px;
            border-radius: 5px;
            border: 1px solid #29AEFF;
            padding: 5px 20px;
            display: block;
        }

        button {
            width: 100px;
            -webkit-box-shadow: 0 3px 6px 0 #55ca86;
            box-shadow: 0 3px 6px 0 #55ca86;
            background: transparent;
            border: 1px solid #55ca86;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>

<p>
    11. Написать функцию, которая в качестве аргумента принимает строку, и форматирует ее таким образом, что каждое
    новое предложение начиняется с большой буквы.
</p>

<b><?php echo $message ?></b>

<form action="" method="post">
    <textarea name="phrase"><?= requestPost('phrase') ?></textarea>
    <button type="submit">Submit</button>
</form>

<p>
    Result: <?php echo $capitalLetter ?>
</p>
<small>P.S. Функция для кириллицы взята из http://www.softtime.ru/forum/read.php?id_forum=1&id_theme=80125. Если есть более простой вариант, прошу мне сообщить))</small>
</body>
</html>