<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            margin-bottom: 10px;
            outline: none;
        }
        textarea {
            width: 300px;
            border-radius: 5px;
            border: 1px solid #29AEFF;
            padding: 5px 20px;
            display: block;
        }
        button {
            width: 100px;
            -webkit-box-shadow: 0 3px 6px 0 #55ca86;
            box-shadow: 0 3px 6px 0 #55ca86;
            background: transparent;
            border: 1px solid #55ca86;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>

<p>
    1. Создать форму с двумя элементами textarea. При отправке формы скрипт должен выдавать только те слова, которые
    есть и в первом и во втором поле ввода. Реализацию это логики необходимо поместить в функцию getCommonWords($a, $b),
    которая будет возвращать массив с общими словами.
</p>

<b><?php echo $message ?></b>

<form action="" method="post">
    <textarea name="phrase-1"><?=requestPost('phrase-1') ?></textarea>
    <textarea name="phrase-2"><?=requestPost('phrase-2') ?></textarea>
    <button type="submit">Submit</button>
</form>

<?php if (!is_null($sameWords)) : ?>
    Result: <?php echo $sameWords ? $sameWords : 'No common words' ?>
<?php endif ?>
</body>
</html>