<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            margin: 10px;
            outline: none;
        }
        textarea, input {
            width: 300px;
            border-radius: 5px;
            border: 1px solid #29AEFF;
            padding: 5px 20px;
            display: block;
        }
        button {
            width: 100px;
            -webkit-box-shadow: 0 3px 6px 0 #55ca86;
            box-shadow: 0 3px 6px 0 #55ca86;
            background: transparent;
            border: 1px solid #55ca86;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>

<p>
    7. Создать гостевую книгу, где любой человек может оставить комментарий в текстовом поле и добавить его. Все добавленные комментарии выводятся над текстовым полем.
</p>

<h2>Комментари:</h2>
<?php echo $comment;?>
<b><?php echo $message ?></b>

<form action="" method="post">
    <label for="userName">Введите ваше имя</label>
    <input type="text" name="userName" value="<?=requestPost('userName') ?>">
    <label for="comment">Введите комментарий</label>
    <textarea name="comment"><?=requestPost('comment') ?></textarea>
    <button type="submit">Отправить</button>
</form>

</body>
</html>